{% extends "base.html" %}
{% block title %}
首页
{% endblock %}
{% block content %}
    {% for b in blocks %}
         <div class="panel panel-default">
             <div class="panel-heading">
                 <a href="/forum/list/{{ b.id }}" style="font-size: 20px">{{ b.name }}</a>
                 <span class="pull-right">{{ b.manager }}</span>
             </div>
             <div class="panel-body">
                 {{ b.desc }}
             </div>
         </div>
    {% endfor %}

{% endblock %}

{% block personal %}
    <div class="well">
        个人中心
    </div>
{% endblock %}